<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>NLP Fruits</title>
</head>

<body>
  <div class="bg-sky-300/50 h-screen flex items-center justify-center">
    <div class="w-5/6 h-5/6 bg-white rounded-xl drop-shadow-2xl p-4">
      <div class="w-full flex justify-center gap-9 mt-4">
        {% for i in range(3) %}
        <div class="w-80 h-72 shadow-2xl inline-grid rounded-2xl"></div>
        {% endfor %}
      </div>
      <div class="w-full flex justify-center mt-20">
        <label style="font-family: Poppins; font-size: larger;" 
        class="w-1/2 h-9 rounded-2xl bg-teal-100 text-center flex justify-center items-center font-semibold">Texto Transcrito</label>
      </div>
      <div class="flex justify-center mt-9">
        <button style="font-size: 250%;" class="w-24 h-20 bg-teal-100 rounded-full"><i class="fa-solid fa-microphone"></i></button>
      </div>
    </div>
  </div>
</body>

</html>