<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>NLP Fruits</title>
</head>

<body>
    <div style="background-image: linear-gradient(#fafa00, #70960c);" class="h-screen flex items-center justify-center">
      <div class="container m-auto">
        <div class="flex flex-col items-center justify-center bg-slate-200/70 rounded-xl shadow-2xl px-10">
          
          <!-- Cabeçalho -->
          <div class="flex flex-col text-center p-8 pb-20 space-y-2">
            <span class="font-bold text-4xl">Processamento de Linguagem Natural</span>
            <span class="text-3xl">Trabalho de implementação</span>
          </div>

          <!-- Fruits Cards Section -->
          <div class="w-full flex items-center justify-center px-8 ">
            <div id="Fruits Cards" class="grid grid-cols-2 gap-8">
        
              <!-- Fruits Cards -->
              <div class="flex w-full h-36 shadow-2xl rounded-2xl bg-white hover:scale-105 duration-300 cursor-pointer">
                <img class="rounded-l-2xl" src="https://images.immediate.co.uk/production/volatile/sites/30/2017/06/oranges-85fb2b6.jpg?quality=90&webp=true&resize=300,272"/>
                <div class="flex flex-col p-4">
                  <span class="font-bold text-slate-800 text-2xl">Laranja</span>
                  <span class="text-lg text-slate-600">A fruta é uma fonte natural de fibras, vitamina C, tiamina, folato e antioxidantes.</span>
                  <span class="text-lg text-slate-800">Vit. C: 15% ● Carb: 11g ● Cal: 47kcal</span>
                </div>
              </div>
        
              <div class="flex w-full h-36 shadow-2xl rounded-2xl bg-white hover:scale-105 duration-300 cursor-pointer">
                <img class="rounded-l-2xl" src="https://images.immediate.co.uk/production/volatile/sites/30/2017/06/oranges-85fb2b6.jpg?quality=90&webp=true&resize=300,272"/>
                <div class="flex flex-col p-4">
                  <span class="font-bold text-slate-800 text-2xl">Laranja</span>
                  <span class="text-lg text-slate-600">A fruta é uma fonte natural de fibras, vitamina C, tiamina, folato e antioxidantes.</span>
                  <span class="text-lg text-slate-800 space-x-3">Vit. C: 15% ● Carb: 11g ● Cal: 47kcal</span>
                </div>
              </div>
              
              <div class="flex w-full h-36 shadow-2xl rounded-2xl bg-white hover:scale-105 duration-300 cursor-pointer">
                <img class="rounded-l-2xl" src="https://images.immediate.co.uk/production/volatile/sites/30/2017/06/oranges-85fb2b6.jpg?quality=90&webp=true&resize=300,272"/>
                <div class="flex flex-col p-4">
                  <span class="font-bold text-slate-800 text-2xl">Laranja</span>
                  <span class="text-lg text-slate-600">A fruta é uma fonte natural de fibras, vitamina C, tiamina, folato e antioxidantes.</span>
                  <span class="text-lg text-slate-800 space-x-3">Vit. C: 15% ● Carb: 11g ● Cal: 47kcal</span>
                </div>
              </div>
        
              <div class="flex w-full h-36 shadow-2xl rounded-2xl bg-white hover:scale-105 duration-300 cursor-pointer">
                <img class="rounded-l-2xl" src="https://images.immediate.co.uk/production/volatile/sites/30/2017/06/oranges-85fb2b6.jpg?quality=90&webp=true&resize=300,272"/>
                <div class="flex flex-col p-4">
                  <span class="font-bold text-slate-800 text-2xl">Laranja</span>
                  <span class="text-lg text-slate-600">A fruta é uma fonte natural de fibras, vitamina C, tiamina, folato e antioxidantes.</span>
                  <span class="text-lg text-slate-800 space-x-3">Vit. C: 15% ● Carb: 11g ● Cal: 47kcal</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Texto transcrito e botão de gravação -->
          <div class="flex justify-center items-center mt-16 p-8">
            <div class="w-full flex flex-col items-center space-y-6">
              <div class="flex items-center rounded-full bg-white shadow-xl w-fit h-0 p-6 max-w-2xl ">
                <span class="text-2xl text-center font-semibold whitespace-nowrap truncate">"Frutas ricas em vitamina C"</span>
              </div>
              <button class="text-4xl w-24 h-20 bg-white rounded-full hover:bg-white/80 duration-300 shadow-xl">
                <i class="fa-solid fa-microphone"></i>
              </button>
            </div>
        </div>
      </div>
  </div>
</body>

</html>
